name: Release

on:
  push:
    tags:{{if eq .Go.ProjectType "library"}}
      # Go libraries MUST use semantic versioning with v prefix
      - 'v[0-9]+.[0-9]+.[0-9]+'{{else}}
      # Other Go projects can use either convention
      - 'v*'
      - '[0-9]+.[0-9]+.[0-9]+'{{end}}

jobs:
  goreleaser:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          
      - name: Install Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
          syft --version
          
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
